*
body{
    background-image: url("https://www.jakpost.travel/wimages/large/49-495528_hd-wallpaper-rain-drops.jpg");
    font-family: sans-serif;
}

.picture img{
    width: 500px;
    border-radius: 50%;
    align-items: center;
    margin-left: 60vh;
    margin-right: 30vh;
}
 nav ul{
     background-color: cadetblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    float: right;
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 12px 14px;
}
li a:hover{
    background-color: white;
}
.subtitle h1{
    font-size: 30px;
    margin: 60px;
    color:blue;
    text-align: center;
}