*
body{
    background-image: url("https://www.jakpost.travel/wimages/large/49-495528_hd-wallpaper-rain-drops.jpg");
    font-family: sans-serif;
}

.picture img{
    width: 400px;
    border-radius: 50%;
    align-items: center;
    margin-left: 60vh;
    margin-right: 30vh;
}
 nav ul{
    background-color: cadetblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
nav  li{
    float: right;

 }
li a{ 
    
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 12px 14px;
}
li a:hover{
    background-color: white;
}
.subtitle {
    font-size: 30px;
    color:blue;
    text-align: center;
}
.subtitle p{
    
    font-style: italic;
    font-size: 20px;
}
 .contacts{
    clear: both;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    text-align: center;
}
.search-sign{
    text-align: center;
    float: right;
    justify-content: space-between;
}

em{
    color: darkblue;
}
#about{
    width: 40%;
    padding: 5px;
    float: left;
}
#skills{
    width: 50%;
    clear: both;
}
/* #skills ul li{
    float: left;
} */
